

/* START TEAMS COLOURS AND LOGOS
====================================================================== */

/* logo icon sizing */
.ico-25 { display: block; height: 59px; width: 59px; }
.ico-59 { display: block; height: 59px; width: 59px; }
.ico-90 { display: block; height: 90px; width: 90px; }
.ico-170{ display: block; height: 170px; width: 170px; }
.ico-200{ display: block; height: 200px; width: 200px; }

.ico-25-inline {
    padding-bottom: 5px;
    padding-left: 32px;
    padding-top: 5px;
	}
.ico-59-inline {
    padding-bottom: 22px;
    padding-left: 62px;
    padding-top: 22px;
	}
.ico-90-inline { display: block; height: 90px; width: 90px; }
.ico-170-inline{ display: block; height: 170px; width: 170px; }
.ico-200-inline{ display: block; height: 200px; width: 200px; }

/* global background options */
.ico{
  	background-repeat: no-repeat;
  	background-position: 50% 50%;
  	background-size:100% auto;
	}
.ico-inline{
	background-position: 0 50%;
	background-repeat: no-repeat;
	/*background-size: 5% auto;
	overflow: visible;*/
	}


/* template
.nhl-bos--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/.png") }
.nhl-bos--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/.png") }
.nhl-bos--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/.png") }
.nhl-bos--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/.png") }

.nhl-bos .bgcolor{ background-color: $nhl-bos; } */

/* Anaheim */
.nhl-anh--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/anaheim-ducks.png") }
.nhl-anh--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/anaheim-ducks.png") }
.nhl-anh--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/anaheim-ducks.png") }
.nhl-anh--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/anaheim-ducks.png") }
.nhl-anh--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/anaheim-ducks.png") }

.nhl-anh .bgcolor{ background-color: $nhl-anh; }

/* Arizona */
.nhl-ari--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/arizona-coyotes.png") }
.nhl-ari--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/arizona-coyotes.png") }
.nhl-ari--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/arizona-coyotes.png") }
.nhl-ari--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/arizona-coyotes.png") }
.nhl-ari--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/arizona-coyotes.png") }

.nhl-ari .bgcolor{ background-color: $nhl-ari; }

/* boston */
.nhl-bos--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/boston-bruins.png") }
.nhl-bos--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/boston-bruins.png") }
.nhl-bos--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/boston-bruins.png") }
.nhl-bos--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/boston-bruins.png") }
.nhl-bos--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/boston-bruins.png") }

.nhl-bos .bgcolor{ background-color: $nhl-bos; }

/* buffalo */
.nhl-buf--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/buffalo-sabres.png") }
.nhl-buf--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/buffalo-sabres.png") }
.nhl-buf--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/buffalo-sabres.png") }
.nhl-buf--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/buffalo-sabres.png") }
.nhl-buf--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/buffalo-sabres.png") }

.nhl-buf .bgcolor{ background-color: $nhl-buf; }

/* calgary */
.nhl-cgy--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/calgary-flames.png") }
.nhl-cgy--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/calgary-flames.png") }
.nhl-cgy--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/calgary-flames.png") }
.nhl-cgy--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/calgary-flames.png") }
.nhl-cgy--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/calgary-flames.png") }

.nhl-cgy .bgcolor{ background-color: $nhl-cgy; }

/* carolina */
.nhl-car--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/carolina-hurricanes.png") }
.nhl-car--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/carolina-hurricanes.png") }
.nhl-car--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/carolina-hurricanes.png") }
.nhl-car--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/carolina-hurricanes.png") }
.nhl-car--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/carolina-hurricanes.png") }

.nhl-car .bgcolor{ background-color: $nhl-car; }

/* chicago */
.nhl-chi--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/chicago-blackhawks.png") }
.nhl-chi--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/chicago-blackhawks.png") }
.nhl-chi--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/chicago-blackhawks.png") }
.nhl-chi--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/chicago-blackhawks.png") }
.nhl-chi--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/chicago-blackhawks.png") }

.nhl-chi .bgcolor{ background-color: $nhl-chi; }

/* colorado */
.nhl-col--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/colorado-avalanche.png") }
.nhl-col--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/colorado-avalanche.png") }
.nhl-col--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/colorado-avalanche.png") }
.nhl-col--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/colorado-avalanche.png") }
.nhl-col--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/colorado-avalanche.png") }

.nhl-col .bgcolor{ background-color: $nhl-col; }

/* columbus */
.nhl-cls--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/columbus-blue-jackets.png") }
.nhl-cls--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/columbus-blue-jackets.png") }
.nhl-cls--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/columbus-blue-jackets.png") }
.nhl-cls--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/columbus-blue-jackets.png") }
.nhl-cls--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/columbus-blue-jackets.png") }

.nhl-cls .bgcolor{ background-color: $nhl-cls; }

/* dallas */
.nhl-dal--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/dallas-stars.png") }
.nhl-dal--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/dallas-stars.png") }
.nhl-dal--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/dallas-stars.png") }
.nhl-dal--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/dallas-stars.png") }
.nhl-dal--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/dallas-stars.png") }

.nhl-dal .bgcolor{ background-color: $nhl-dal; }

/* detroit */
.nhl-det--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/detroit-red-wings.png") }
.nhl-det--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/detroit-red-wings.png") }
.nhl-det--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/detroit-red-wings.png") }
.nhl-det--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/detroit-red-wings.png") }
.nhl-det--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/detroit-red-wings.png") }

.nhl-det .bgcolor{ background-color: $nhl-det; }

/* edmonton */
.nhl-edm--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/edmonton-oilers.png") }
.nhl-edm--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/edmonton-oilers.png") }
.nhl-edm--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/edmonton-oilers.png") }
.nhl-edm--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/edmonton-oilers.png") }
.nhl-edm--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/edmonton-oilers.png") }

.nhl-edm .bgcolor{ background-color: $nhl-edm; }

/* florida */
.nhl-fla--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/florida-panthers.png") }
.nhl-fla--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/florida-panthers.png") }
.nhl-fla--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/florida-panthers.png") }
.nhl-fla--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/florida-panthers.png") }
.nhl-fla--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/florida-panthers.png") }

.nhl-fla .bgcolor{ background-color: $nhl-fla; }

/* los angeles */
.nhl-la--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/los-angeles-kings.png") }
.nhl-la--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/los-angeles-kings.png") }
.nhl-la--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/los-angeles-kings.png") }
.nhl-la--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/los-angeles-kings.png") }
.nhl-la--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/los-angeles-kings.png") }

.nhl-la .bgcolor{ background-color: $nhl-la; }

/* minnesota */
.nhl-min--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/minnesota-wild.png") }
.nhl-min--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/minnesota-wild.png") }
.nhl-min--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/minnesota-wild.png") }
.nhl-min--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/minnesota-wild.png") }
.nhl-min--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/minnesota-wild.png") }

.nhl-min .bgcolor{ background-color: $nhl-min; }

/* montreal */
.nhl-mon--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/montreal-canadiens.png") }
.nhl-mon--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/montreal-canadiens.png") }
.nhl-mon--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/montreal-canadiens.png") }
.nhl-mon--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/montreal-canadiens.png") }
.nhl-mon--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/montreal-canadiens.png") }

.nhl-mon .bgcolor{ background-color: $nhl-mon; }

/* nashville */
.nhl-nsh--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/nashville-predators.png") }
.nhl-nsh--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/nashville-predators.png") }
.nhl-nsh--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/nashville-predators.png") }
.nhl-nsh--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/nashville-predators.png") }
.nhl-nsh--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/nashville-predators.png") }

.nhl-nsh .bgcolor{ background-color: $nhl-nsh; }

/* new jersey */
.nhl-nj--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/new-jersey-devils.png") }
.nhl-nj--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/new-jersey-devils.png") }
.nhl-nj--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/new-jersey-devils.png") }
.nhl-nj--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/new-jersey-devils.png") }
.nhl-nj--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/new-jersey-devils.png") }

.nhl-nj .bgcolor{ background-color: $nhl-nj; }

/* new york islanders */
.nhl-nyi--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/new-york-islanders.png") }
.nhl-nyi--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/new-york-islanders.png") }
.nhl-nyi--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/new-york-islanders.png") }
.nhl-nyi--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/new-york-islanders.png") }
.nhl-nyi--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/new-york-islanders.png") }

.nhl-nyi .bgcolor{ background-color: $nhl-nyi; }

/* new york rangers */
.nhl-nyr--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/new-york-rangers.png") }
.nhl-nyr--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/new-york-rangers.png") }
.nhl-nyr--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/new-york-rangers.png") }
.nhl-nyr--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/new-york-rangers.png") }
.nhl-nyr--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/new-york-rangers.png") }

.nhl-nyr .bgcolor{ background-color: $nhl-nyr; }

/* ottawa */
.nhl-ott--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/ottawa-senators.png") }
.nhl-ott--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/ottawa-senators.png") }
.nhl-ott--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/ottawa-senators.png") }
.nhl-ott--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/ottawa-senators.png") }
.nhl-ott--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/ottawa-senators.png") }

.nhl-ott .bgcolor{ background-color: $nhl-ott; }

/* philly */
.nhl-phi--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/philadelphia-flyers.png") }
.nhl-phi--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/philadelphia-flyers.png") }
.nhl-phi--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/philadelphia-flyers.png") }
.nhl-phi--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/philadelphia-flyers.png") }
.nhl-phi--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/philadelphia-flyers.png") }

.nhl-phi .bgcolor{ background-color: $nhl-phi; }

/* phoenix */
.nhl-pho--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/phoenix-coyotes.png") }
.nhl-pho--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/phoenix-coyotes.png") }
.nhl-pho--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/phoenix-coyotes.png") }
.nhl-pho--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/phoenix-coyotes.png") }
.nhl-pho--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/phoenix-coyotes.png") }

.nhl-pho .bgcolor{ background-color: $nhl-pho; }

/* pittsburg */
.nhl-pit--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/pittsburgh-penguins.png") }
.nhl-pit--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/pittsburgh-penguins.png") }
.nhl-pit--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/pittsburgh-penguins.png") }
.nhl-pit--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/pittsburgh-penguins.png") }
.nhl-pit--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/pittsburgh-penguins.png") }

.nhl-pit .bgcolor{ background-color: $nhl-pit; }

/* san jose */
.nhl-sj--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/san-jose-sharks.png") }
.nhl-sj--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/san-jose-sharks.png") }
.nhl-sj--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/san-jose-sharks.png") }
.nhl-sj--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/san-jose-sharks.png") }
.nhl-sj--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/san-jose-sharks.png") }

.nhl-sj .bgcolor{ background-color: $nhl-sj; }

/* st louis */
.nhl-stl--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/st-louis-blues.png") }
.nhl-stl--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/st-louis-blues.png") }
.nhl-stl--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/st-louis-blues.png") }
.nhl-stl--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/st-louis-blues.png") }
.nhl-stl--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/st-louis-blues.png") }

.nhl-stl .bgcolor{ background-color: $nhl-stl; }

/* tampa bay */
.nhl-tb--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/tampa-bay-lightning.png") }
.nhl-tb--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/tampa-bay-lightning.png") }
.nhl-tb--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/tampa-bay-lightning.png") }
.nhl-tb--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/tampa-bay-lightning.png") }
.nhl-tb--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/tampa-bay-lightning.png") }

.nhl-tb .bgcolor{ background-color: $nhl-tb; }

/* toronto */
.nhl-tor--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/toronto-maple-leafs-alt.png") }
.nhl-tor--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/toronto-maple-leafs-alt.png") }
.nhl-tor--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/toronto-maple-leafs-alt.png") }
.nhl-tor--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/toronto-maple-leafs-alt.png") }
.nhl-tor--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/toronto-maple-leafs-alt.png") }

.nhl-tor .bgcolor{ background-color: $nhl-tor; }

/* vancouver */
.nhl-van--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/vancouver-canucks.png") }
.nhl-van--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/vancouver-canucks.png") }
.nhl-van--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/vancouver-canucks.png") }
.nhl-van--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/vancouver-canucks.png") }
.nhl-van--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/vancouver-canucks.png") }

.nhl-van .bgcolor{ background-color: $nhl-van; }

/* washington */
.nhl-was--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/washington-capitals.png") }
.nhl-was--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/washington-capitals.png") }
.nhl-was--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/washington-capitals.png") }
.nhl-was--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/washington-capitals.png") }
.nhl-was--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/washington-capitals.png") }

.nhl-was .bgcolor{ background-color: $nhl-was; }

/* winnipeg */
.nhl-wpg--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/winnipeg-jets.png") }
.nhl-wpg--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/winnipeg-jets.png") }
.nhl-wpg--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/winnipeg-jets.png") }
.nhl-wpg--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/winnipeg-jets.png") }
.nhl-wpg--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/winnipeg-jets.png") }

.nhl-wpg .bgcolor{ background-color: $nhl-wpg; }


/* winnipeg */
.nhl-logo--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/nhl.png") }
.nhl-logo--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/nhl.png") }
.nhl-logo--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/nhl.png") }
.nhl-logo--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/nhl.png") }
.nhl-logo--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/nhl.png") }

.nhl-logo .bgcolor{ background-color: $nhl-wpg; }

/* winnipeg */
.nhl-east--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/eastern-conference.png") }
.nhl-east--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/eastern-conference.png") }
.nhl-east--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/eastern-conference.png") }
.nhl-east--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/eastern-conference.png") }
.nhl-east--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/eastern-conference.png") }

.nhl-east .bgcolor{ background-color: $nhl-wpg; }

/* winnipeg */
.nhl-west--25x25 { background-image: url("../img/team_logos/25x25/hockey/nhl/western-conference.png") }
.nhl-west--59x59 { background-image: url("../img/team_logos/59x59/hockey/nhl/western-conference.png") }
.nhl-west--90x90 { background-image: url("../img/team_logos/90x90/hockey/nhl/western-conference.png") }
.nhl-west--170x170 { background-image: url("../img/team_logos/170x170/hockey/nhl/western-conference.png") }
.nhl-west--200x200 { background-image: url("../img/team_logos/200x200/hockey/nhl/western-conference.png") }

.nhl-west .bgcolor{ background-color: $nhl-wpg; }




/* Atlanta Hawks */
.nba-atl--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/atlanta-hawks.png") }
.nba-atl--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/atlanta-hawks.png") }
.nba-atl--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/atlanta-hawks.png") }
.nba-atl--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/atlanta-hawks.png") }
.nba-atl--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/atlanta-hawks.png") }

.nba-atl .bgcolor{ background-color: $nba-atl; }

/* Boston Celtics */
.nba-bos--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/boston-celtics.png") }
.nba-bos--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/boston-celtics.png") }
.nba-bos--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/boston-celtics.png") }
.nba-bos--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/boston-celtics.png") }
.nba-bos--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/boston-celtics.png") }

.nba-bos .bgcolor{ background-color: $nba-bos; }

/* Brooklyn Nets */
.nba-bkn--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/brooklyn-nets.png") }
.nba-bkn--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/brooklyn-nets.png") }
.nba-bkn--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/brooklyn-nets.png") }
.nba-bkn--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/brooklyn-nets.png") }
.nba-bkn--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/brooklyn-nets.png") }

.nba-bkn .bgcolor{ background-color: $nba-bkn; }

/* Charlotte Hornets */
.nba-cha--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/charlotte-hornets.png") }
.nba-cha--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/charlotte-hornets.png") }
.nba-cha--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/charlotte-hornets.png") }
.nba-cha--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/charlotte-hornets.png") }
.nba-cha--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/charlotte-hornets.png") }

.nba-cha .bgcolor{ background-color: $nba-cha; }

/* Charlotte Bobcats */
.nba-chab--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/charlotte-bobcats.png") }
.nba-chab--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/charlotte-bobcats.png") }
.nba-chab--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/charlotte-bobcats.png") }
.nba-chab--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/charlotte-bobcats.png") }
.nba-chab--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/charlotte-bobcats.png") }

.nba-cha .bgcolor{ background-color: $nba-chab; }

/* Chicago Bulls */
.nba-chi--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/chicago-bulls.png") }
.nba-chi--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/chicago-bulls.png") }
.nba-chi--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/chicago-bulls.png") }
.nba-chi--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/chicago-bulls.png") }
.nba-chi--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/chicago-bulls.png") }

.nba-chi .bgcolor{ background-color: $nba-chi; }

/* Cleveland Cavaliers */
.nba-cle--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/cleveland-cavaliers.png") }
.nba-cle--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/cleveland-cavaliers.png") }
.nba-cle--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/cleveland-cavaliers.png") }
.nba-cle--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/cleveland-cavaliers.png") }
.nba-cle--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/cleveland-cavaliers.png") }

.nba-cle .bgcolor{ background-color: $nba-cle; }

/* Dallas Mavericks */
.nba-dal--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/dallas-mavericks.png") }
.nba-dal--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/dallas-mavericks.png") }
.nba-dal--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/dallas-mavericks.png") }
.nba-dal--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/dallas-mavericks.png") }
.nba-dal--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/dallas-mavericks.png") }

.nba-dal .bgcolor{ background-color: $nba-dal; }

/* Denver Nuggets */
.nba-den--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/denver-nuggets.png") }
.nba-den--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/denver-nuggets.png") }
.nba-den--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/denver-nuggets.png") }
.nba-den--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/denver-nuggets.png") }
.nba-den--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/denver-nuggets.png") }

.nba-den .bgcolor{ background-color: $nba-den; }

/* Detroit Pistons */
.nba-det--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/detroit-pistons.png") }
.nba-det--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/detroit-pistons.png") }
.nba-det--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/detroit-pistons.png") }
.nba-det--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/detroit-pistons.png") }
.nba-det--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/detroit-pistons.png") }

.nba-det .bgcolor{ background-color: $nba-det; }

/* Golden State Warriors */
.nba-gs--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/golden-state-warriors.png") }
.nba-gs--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/golden-state-warriors.png") }
.nba-gs--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/golden-state-warriors.png") }
.nba-gs--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/golden-state-warriors.png") }
.nba-gs--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/golden-state-warriors.png") }

.nba-gs .bgcolor{ background-color: $nba-gs; }

/* Houston Rockets */
.nba-hou--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/houston-rockets.png") }
.nba-hou--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/houston-rockets.png") }
.nba-hou--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/houston-rockets.png") }
.nba-hou--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/houston-rockets.png") }
.nba-hou--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/houston-rockets.png") }

.nba-hou .bgcolor{ background-color: $nba-hou; }

/* Indiana Pacers */
.nba-ind--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/indiana-pacers.png") }
.nba-ind--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/indiana-pacers.png") }
.nba-ind--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/indiana-pacers.png") }
.nba-ind--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/indiana-pacers.png") }
.nba-ind--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/indiana-pacers.png") }

.nba-ind .bgcolor{ background-color: $nba-ind; }

/* LA Clippers */
.nba-lac--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/los-angeles-clippers.png") }
.nba-lac--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/los-angeles-clippers.png") }
.nba-lac--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/los-angeles-clippers.png") }
.nba-lac--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/los-angeles-clippers.png") }
.nba-lac--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/los-angeles-clippers.png") }

.nba-lac .bgcolor{ background-color: $nba-lac; }

/* LA Lakers */
.nba-lal--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/los-angeles-lakers.png") }
.nba-lal--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/los-angeles-lakers.png") }
.nba-lal--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/los-angeles-lakers.png") }
.nba-lal--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/los-angeles-lakers.png") }
.nba-lal--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/los-angeles-lakers.png") }

.nba-lal .bgcolor{ background-color: $nba-lal; }

/* Memphis Grizzlies */
.nba-mem--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/memphis-grizzlies.png") }
.nba-mem--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/memphis-grizzlies.png") }
.nba-mem--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/memphis-grizzlies.png") }
.nba-mem--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/memphis-grizzlies.png") }
.nba-mem--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/memphis-grizzlies.png") }

.nba-mem .bgcolor{ background-color: $nba-mem; }

/* Miami Heat */
.nba-mia--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/miami-heat.png") }
.nba-mia--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/miami-heat.png") }
.nba-mia--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/miami-heat.png") }
.nba-mia--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/miami-heat.png") }
.nba-mia--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/miami-heat.png") }

.nba-mia .bgcolor{ background-color: $nba-mia; }

/* Milwaukee Bucks */
.nba-mil--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/milwaukee-bucks.png") }
.nba-mil--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/milwaukee-bucks.png") }
.nba-mil--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/milwaukee-bucks.png") }
.nba-mil--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/milwaukee-bucks.png") }
.nba-mil--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/milwaukee-bucks.png") }

.nba-mil .bgcolor{ background-color: $nba-mil; }

/* Minnesota Timberwolves */
.nba-min--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/minnesota-timberwolves.png") }
.nba-min--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/minnesota-timberwolves.png") }
.nba-min--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/minnesota-timberwolves.png") }
.nba-min--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/minnesota-timberwolves.png") }
.nba-min--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/minnesota-timberwolves.png") }

.nba-min .bgcolor{ background-color: $nba-min; }

/* New Orleans Pelicans */
.nba-no--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/new-orleans-pelicans.png") }
.nba-no--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/new-orleans-pelicans.png") }
.nba-no--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/new-orleans-pelicans.png") }
.nba-no--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/new-orleans-pelicans.png") }
.nba-no--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/new-orleans-pelicans.png") }

.nba-no .bgcolor{ background-color: $nba-no; }

/* New York Knicks */
.nba-ny--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/new-york-knicks.png") }
.nba-ny--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/new-york-knicks.png") }
.nba-ny--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/new-york-knicks.png") }
.nba-ny--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/new-york-knicks.png") }
.nba-ny--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/new-york-knicks.png") }

.nba-ny .bgcolor{ background-color: $nba-ny; }

/* Oklahoma City Thunder */
.nba-okc--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/oklahoma-city-thunder.png") }
.nba-okc--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/oklahoma-city-thunder.png") }
.nba-okc--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/oklahoma-city-thunder.png") }
.nba-okc--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/oklahoma-city-thunder.png") }
.nba-okc--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/oklahoma-city-thunder.png") }

.nba-okc .bgcolor{ background-color: $nba-okc; }

/* Orlando Magic */
.nba-orl--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/orlando-magic.png") }
.nba-orl--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/orlando-magic.png") }
.nba-orl--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/orlando-magic.png") }
.nba-orl--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/orlando-magic.png") }
.nba-orl--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/orlando-magic.png") }

.nba-orl .bgcolor{ background-color: $nba-orl; }

/* Philadelphia 76ers */
.nba-phi--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/philadelphia-76ers.png") }
.nba-phi--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/philadelphia-76ers.png") }
.nba-phi--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/philadelphia-76ers.png") }
.nba-phi--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/philadelphia-76ers.png") }
.nba-phi--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/philadelphia-76ers.png") }

.nba-phi .bgcolor{ background-color: $nba-phi; }

/* Phoenix Suns */
.nba-pho--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/phoenix-suns.png") }
.nba-pho--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/phoenix-suns.png") }
.nba-pho--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/phoenix-suns.png") }
.nba-pho--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/phoenix-suns.png") }
.nba-pho--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/phoenix-suns.png") }

.nba-pho .bgcolor{ background-color: $nba-pho; }

/* Portland Trail Blazers */
.nba-por--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/portland-trail-blazers.png") }
.nba-por--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/portland-trail-blazers.png") }
.nba-por--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/portland-trail-blazers.png") }
.nba-por--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/portland-trail-blazers.png") }
.nba-por--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/portland-trail-blazers.png") }

.nba-por .bgcolor{ background-color: $nba-por; }

/* Sacramento Kings */
.nba-sac--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/sacramento-kings.png") }
.nba-sac--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/sacramento-kings.png") }
.nba-sac--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/sacramento-kings.png") }
.nba-sac--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/sacramento-kings.png") }
.nba-sac--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/sacramento-kings.png") }

.nba-sac .bgcolor{ background-color: $nba-sac; }

/* San Antonio Spurs */
.nba-sa--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/san-antonio-spurs.png") }
.nba-sa--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/san-antonio-spurs.png") }
.nba-sa--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/san-antonio-spurs.png") }
.nba-sa--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/san-antonio-spurs.png") }
.nba-sa--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/san-antonio-spurs.png") }

.nba-sa .bgcolor{ background-color: $nba-sa; }

/* Toronto Raptors */
.nba-tor--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/toronto-raptors.png") }
.nba-tor--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/toronto-raptors.png") }
.nba-tor--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/toronto-raptors.png") }
.nba-tor--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/toronto-raptors.png") }
.nba-tor--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/toronto-raptors.png") }

.nba-tor .bgcolor{ background-color: $nba-tor; }

/* Utah Jazz */
.nba-uta--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/utah-jazz.png") }
.nba-uta--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/utah-jazz.png") }
.nba-uta--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/utah-jazz.png") }
.nba-uta--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/utah-jazz.png") }
.nba-uta--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/utah-jazz.png") }

.nba-uta .bgcolor{ background-color: $nba-uta; }

/* Washington Wizards */
.nba-was--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/washington-wizards.png") }
.nba-was--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/washington-wizards.png") }
.nba-was--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/washington-wizards.png") }
.nba-was--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/washington-wizards.png") }
.nba-was--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/washington-wizards.png") }

.nba-was .bgcolor{ background-color: $nba-was; }

/* winnipeg */
.nba-wpg--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/winnipeg-jets.png") }
.nba-wpg--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/winnipeg-jets.png") }
.nba-wpg--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/winnipeg-jets.png") }
.nba-wpg--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/winnipeg-jets.png") }
.nba-wpg--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/winnipeg-jets.png") }

.nba-wpg .bgcolor{ background-color: $nba-wpg; }


/* NBA Logo */
.nba-logo--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/nba.png") }
.nba-logo--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/nba.png") }
.nba-logo--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/nba.png") }
.nba-logo--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/nba.png") }
.nba-logo--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/nba.png") }

.nba-logo .bgcolor{ background-color: $nba-wpg; }

/* Eastern Conference */
.nba-east--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/east-east-all-stars.png") }
.nba-east--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/east-east-all-stars.png") }
.nba-east--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/east-east-all-stars.png") }
.nba-east--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/east-east-all-stars.png") }
.nba-east--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/east-east-all-stars.png") }

.nba-east .bgcolor{ background-color: $nba-east; }

/* Western Conference */
.nba-west--25x25 { background-image: url("../img/team_logos/25x25/basketball/nba/west-west-all-stars.png") }
.nba-west--59x59 { background-image: url("../img/team_logos/59x59/basketball/nba/west-west-all-stars.png") }
.nba-west--90x90 { background-image: url("../img/team_logos/90x90/basketball/nba/west-west-all-stars.png") }
.nba-west--170x170 { background-image: url("../img/team_logos/170x170/basketball/nba/west-west-all-stars.png") }
.nba-west--200x200 { background-image: url("../img/team_logos/200x200/basketball/nba/west-west-all-stars.png") }

.nba-west .bgcolor{ background-color: $nba-west; }